<html>
        <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
    <body>
<p align="center"><button type="button" align="center" class="btn btn-danger">
    <font size="30px">wordcount</font></button>
<br>
<a href="{% url 'about' %}">ABOUT</a>
</p>
<form align="center" action=" {% url 'count' %}">
    <textarea cols="40" rows="10" name="fulltext"></textarea>
    <br>
    <input type="submit" class="btn btn-primary" value="count!">

</form>
</body>
</html>
